fastapi[standard]
uvicorn
pydantic
langgraph
langchain
langchain-core
langchain-google-genai
httpx
langgraph-supervisor
langchain-community
langchain-openai
langchain-tavily 
arxiv
xmltodict
wikipedia
youtube-search
pymongo
python-dotenv
pandas
numpy